<form [formGroup]="productoForm" (submit)="crearProducto()">
    <div *ngIf="showSuccessAlert" class="alert alert-success" role="alert">
        Producto actualizado con éxito.
    </div>
    <section class="botonesU/D" *ngIf="">
        <button type="button" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-trash3-fill" viewBox="0 0 16 16">
                <path
                    d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
            </svg>
        </button>
        <button type="button" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pencil-fill" viewBox="0 0 16 16">
                <path
                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
            </svg>
        </button>
    </section>
    <div class="mb-3">
        <label for="exampleInputNombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" id="InputNombre">
    </div>
    <div class="mb-3">
        <label for="exampleInputMarca" class="form-label">Marca</label>
        <select class="form-select" formControlName="marca" aria-label="Default select example">
            <option id="OptionMarca" class="form-control" *ngFor="let marca of marcas"  value="{{marca.id}}">{{marca.nombre}}</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="exampleInputProveedor" class="form-label">Proveedor</label>
        <select class="form-select" formControlName="proveedor" aria-label="Default select example">
            <option id="OptionProveedor" class="form-control" *ngFor="let proveedor of proveedores"   value="{{proveedor.id}}">{{proveedor.nombre}}</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="exampleInputTienda" class="form-label">Tienda</label>
        <select class="form-select" formControlName="tienda" aria-label="Default select example">
            <option id="OptionTienda" class="form-control" *ngFor="let tienda of tiendas"  value="{{tienda.id}}">{{tienda.nombre}}</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="exampleInputPrecio" class="form-label">Precio</label>
        <input type="number" step="0.01" class="form-control" formControlName="precio"  id="exampleInputPrecio">
    </div>
    <div class="mb-3">
        <label for="exampleInputCantidad" class="form-label">Cantidad</label>
        <input type="number" step="0" class="form-control" formControlName="cantidad"  id="exampleInputCantidad">
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>