nav {
    width: 100%;
    display: flex;
}
button {
    background-color: aliceblue;
    color: black;
    border-color: aliceblue;
}
a {
    background-color: aliceblue;
    color: black;
    border-color: aliceblue;
}
.btn-group .dropdown-menu {
    right: auto;
    min-width: 12rem;
    background-color: aliceblue;
    border-color: rgba(0, 0, 0, 0.15);
    padding: 0.5rem 0;
}

.btn-group .dropdown-menu .dropdown-item {
    color: black;
    padding: 0.25rem 1rem;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

.btn-group .dropdown-menu .dropdown-item:hover {
    background-color: #007bff;
    color: #ffffff;
}

.btn-group .dropdown-menu .dropdown-item:active {
    background-color: #0056b3;
    color: #fff;
}
