<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="btn-group">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Camisetas
        </button>
        <ul class="dropdown-menu">
            <li><a href="#" class="dropdown-item">Camisetas de nike</a></li>
            <li><a href="#" class="dropdown-item">Camisetas de adidas</a></li>
            <li><a href="#" class="dropdown-item">Camisetas de gucci</a></li>
            <li><a href="#" class="dropdown-item">Camisetas de Tommy Hilfiger</a></li>
            <li><a href="#" class="dropdown-item">Camisetas de The North Face</a></li>
        </ul>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Pantalones
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a href="#" class="dropdown-item">Pantalones de nike</a></li>
            <li><a href="#" class="dropdown-item">Pantalones de adidas</a></li>
            <li><a href="#" class="dropdown-item">Pantalones de Levi's</a></li>
            <li><a href="#" class="dropdown-item">Pantalones de puma</a></li>
        </ul>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
            data-bs-display="static" aria-expanded="false">
            Sudaderas
        </button>
        <ul class="dropdown-menu dropdown-menu-lg-end">
            <li><a href="#" class="dropdown-item">Sudaderas de nike</a></li>
            <li><a href="#" class="dropdown-item">Sudaderas de adidas</a></li>
            <li><a href="#" class="dropdown-item">Sudaderas de The North Face</a></li>
            <li><a href="#" class="dropdown-item">Sudaderas de Tommy Hilfiger</a></li>
        </ul>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
            data-bs-display="static" aria-expanded="false">
            Zapatillas
        </button>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
            <li><a href="#" class="dropdown-item">Zapatillas de nike</a></li>
            <li><a href="#" class="dropdown-item">Zapatillas de adidas</a></li>
            <li><a href="#" class="dropdown-item">Zapatillas de veja</a></li>
            <li><a href="#" class="dropdown-item">Zapatillas de fluchos</a></li>
        </ul>
    </div>
    <a href="aboutUs" class="btn btn-secondary">Sobre nosotros</a>
    <a href="contacto" class="btn btn-secondary">Contacto</a>
    <button type="button" class="btn btn-secondary" (click)="navAAnadirProd()">Añadir producto</button>
</nav>