.pagination {
  display: flex;               
  justify-content: center;    
  align-items: center;         
  margin: 20px 0;            
}

.page-link {
  color: black;
  background-color: aliceblue;
  border-radius: 20%;
  cursor: pointer;
  margin: 5px;            
}

.page-link:hover{
  color: white;
  background-color: #2080e7;
}

.page-link.active{
  color: #ffffff; 
  background-color: #2080e7; 
}


