<div class="inicio">
    <div class="btn-group">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Camisetas
        </button>
        <ul class="dropdown-menu">
            <li><a href="#" class="dropdown-item">Camisetas de nike</a></li>
            <li><a href="#" class="dropdown-item">Camisetas de adidas</a></li>
            <li><a href="#" class="dropdown-item">Camisetas de gucci</a></li>
            <li><a href="#" class="dropdown-item">Camisetas de Tommy Hilfiger</a></li>
            <li><a href="#" class="dropdown-item">Camisetas de The North Face</a></li>
        </ul>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Pantalones
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a href="#" class="dropdown-item">Pantalones de nike</a></li>
            <li><a href="#" class="dropdown-item">Pantalones de adidas</a></li>
            <li><a href="#" class="dropdown-item">Pantalones de Levi's</a></li>
            <li><a href="#" class="dropdown-item">Pantalones de puma</a></li>
        </ul>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
            data-bs-display="static" aria-expanded="false">
            Sudaderas
        </button>
        <ul class="dropdown-menu dropdown-menu-lg-end">
            <li><a href="#" class="dropdown-item">Sudaderas de nike</a></li>
            <li><a href="#" class="dropdown-item">Sudaderas de adidas</a></li>
            <li><a href="#" class="dropdown-item">Sudaderas de The North Face</a></li>
            <li><a href="#" class="dropdown-item">Sudaderas de Tommy Hilfiger</a></li>
        </ul>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
            data-bs-display="static" aria-expanded="false">
            Zapatillas
        </button>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
            <li><a href="#" class="dropdown-item">Zapatillas de nike</a></li>
            <li><a href="#" class="dropdown-item">Zapatillas de adidas</a></li>
            <li><a href="#" class="dropdown-item">Zapatillas de veja</a></li>
            <li><a href="#" class="dropdown-item">Zapatillas de fluchos</a></li>
        </ul>
    </div>
    <div class="banner">
        <img src="assets/banner.jpg" alt="Banner de la tienda" class="banner-image" width="100%" />
    </div>
    <div class="intro">
        <h1>Bienvenido a nuestra tienda.</h1>
        <p>
            Nuestro proyecto es una tienda en línea especializada en la venta de ropa de primeras marcas, que ofrece una
            amplia gama de productos tanto en el ámbito deportivo como en el de moda. En el sector deportivo, contamos
            con una selección de las marcas más reconocidas a nivel mundial, como Nike, Adidas, Puma, y The North Face,
            ofreciendo desde ropa y calzado hasta accesorios para diversas disciplinas y estilos de vida activos.

            Para los amantes de la moda, nuestra tienda también incluye una cuidada colección de las marcas más
            prestigiosas del mercado, como Tommy Hilfiger, Gucci, Levi's, y muchas más. Nuestro objetivo es ofrecer a
            nuestros clientes productos de alta calidad que combinen estilo, confort y las últimas tendencias, todo en
            un solo lugar.

            La tienda se destaca por una experiencia de compra intuitiva y fluida, con un diseño moderno que facilita la
            navegación y búsqueda de productos. Además, ofrecemos diversas opciones de pago seguras, envíos rápidos y un
            servicio al cliente excepcional, comprometido con la satisfacción del usuario en cada etapa del proceso de
            compra.
        </p>
    </div>
</div>

<div>
    <app-producto></app-producto>
</div>