
<section class="banner">
    <img src="assets/banner.jpg" alt="Banner de la tienda" class="banner-image" width="100%" />
</section>

<div>
    <app-producto></app-producto>
</div>


<section class="introduccion">
    <div class="intro">
        <h1>Bienvenido a nuestra tienda.</h1>
        <p>
            Nuestro proyecto es una tienda en línea especializada en la venta de ropa de primeras marcas, que ofrece una
            amplia gama de productos tanto en el ámbito deportivo como en el de moda. En el sector deportivo, contamos
            con una selección de las marcas más reconocidas a nivel mundial, como Nike, Adidas, Puma, y The North Face,
            ofreciendo desde ropa y calzado hasta accesorios para diversas disciplinas y estilos de vida activos.

            Para los amantes de la moda, nuestra tienda también incluye una cuidada colección de las marcas más
            prestigiosas del mercado, como Tommy Hilfiger, Gucci, Levi's, y muchas más. Nuestro objetivo es ofrecer a
            nuestros clientes productos de alta calidad que combinen estilo, confort y las últimas tendencias, todo en
            un solo lugar.

            La tienda se destaca por una experiencia de compra intuitiva y fluida, con un diseño moderno que facilita la
            navegación y búsqueda de productos. Además, ofrecemos diversas opciones de pago seguras, envíos rápidos y un
            servicio al cliente excepcional, comprometido con la satisfacción del usuario en cada etapa del proceso de
            compra.
        </p>
    </div>
</section>