.header {
  display: flex;
  align-items: center;
}
.no-underline {
  text-decoration: none;
}
main{
  background-color: aliceblue;
}
img {
  width: 100px;
  height: auto;
  border-radius: 20%;
}

h1 {
  font-size: 35px;
}
.content{
  min-height: 100vh;
}
